body{
    text-align: center;
}
.inputdiv{
    
    margin-right:70px;
}

    



.input{
    width:320px;
    height:50px;
    border:solid;
    background-color:lightgray;
    margin-left:42px;
    margin-top:30px;
    margin-bottom: 30px;
    font-size: large;
    
    
}
.container{
    text-align: center;
    border:solid;
    border-color:black;
    border-radius: 15px;
    background-color:black;
    
    width:405px;
    height:500px;
    margin-left:450px;
}
.btn{
height:70px;
border-radius:10px;
width:80px;
    margin-bottom: 20px;}
